
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.mane {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main_content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about_user {
    margin-bottom: 40px;
}

.about_job {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin-bottom: 25px;
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {
    margin-top: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.projects_list,
.work_list{
    padding: 0px;
    margin-left: 20px;
}

.projects_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.projects_link, 
.projects_a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects_link {
    margin-left: 10px;
}

.projects_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin-bottom: 10px;
}

.work_company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work_period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;

}

.work_period_bracket {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.work_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education{
    margin-top: 45px;
}

.education_link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.sidebar {
    background-color: black;
    padding-top: 40px;
    width: 330px;
}

.img {
    width: 330px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts, 
.tech_skills,
.soft_skills {
    margin-left: 40px;
    margin-bottom: 50px;
}

.contact_type {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contact_link {
    color: #FB6D3A;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.tech_skills_list, 
.soft_skills_list {
    color: white;
    padding: 0;
    margin-left: 15px;
}

.skills_item {
    color: #FB6D3A;
}

.skills_text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}